@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-range-input {
  
  writing-mode: bt-lr; /* IE */
  width: 8px;
  height: 100px;
  margin: 0 10px;
}

@media (max-width: 640px) {
  .bg-mobile {
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}


